.sort-container{
    margin-top: 10px;
    display: grid;
    align-items: center;
    margin-left: auto;
}

.sort-section label {
    font-weight: bold;
    color: #a6545a;
    margin-right: 10px;
}

.sort-dropdown {
    padding: 8px 12px;                
    font-size: 0.9em;                  
    border: 2px solid #a6545a;         
    border-radius: 8px;                
    background-color: #fffafa;         
    
    color: #333;                       
    cursor: pointer;
    transition: all 0.3s ease;         
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
  
  /* Focus effect */
  .sort-dropdown:focus {
    outline: none;
    border-color: #a6545a;            
    box-shadow: 0 4px 8px #fffafa; 
}
  
  /* Hover effect */
  .sort-dropdown:hover {
    background-color: #fff0f3;        
}