.ingrediant-modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal--content {
    position: relative;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    width: 30em;
    margin: 0 auto;
}

.modal--close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 32px;
    font-weight: bold;
    margin: 0%;
}

.modal--close:hover {
    color: #c71585;
}

.modal-close-btn {
    background-color: #a6545a;;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.modal-close-btn:hover {
    background-color: #a6545a; /* Darker pink on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}
  
.modal-close-btn:active {
    background-color: #a6545a; /* Even darker pink when clicked */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow on click */
    transform: translateY(1px); /* Button pushes in slightly when clicked */
}

.ingredient--detail{
    color: #a6545a;
}

.icon {
    color: #a6545a;
    margin-right: 10px;
}

.ingredient {
    margin-top: 10px;
}

.recipe--name {
    font-weight: bold;
}
