/* variables to easaily changes styles */
:root {
  /* --pink: rgba(203, 115, 143, 1); */
  --pink-white: #fad8d9;
  --pink-light: rgb(242, 235, 237);
  --white: white;
  --white-transparent: #ffffff20;
}

body {
  background: var(--pink-light);
  background: radial-gradient(circle, var(--pink-light) 0%, var(--pink-white) 100%);
}

/* card container */
.recipe-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 2rem;
}


.button:hover {
  background-color: var(--white);
  color: var(--pink);
}

.button {
  transition-duration: 0.4s;
}

/* search bar */
.search-bar {
  display: flex;
  background-color: var(--white-transparent);
  padding: 0.5rem 3rem;
}

.search-bar input[type=text] {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-right: 5px;
}

.search-bar button {
  background: #a6545a;
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 15px;
}

.loading {
  margin-top: 15px;
}

.view {
  position: relative;
  display: flex;
  padding: 0.5rem 1rem;
  margin-top: 0.8rem;
  width: 10px;  
  height: 10px; 
  
  background-size: contain;  /* Ensures the image fits within the div */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  display: inline-block; /* Allows setting dimensions */
  cursor: pointer; /* Change cursor to pointer */
}

#compact-view {
  background-image: url('../public/listview.svg');  
}

#card-view {
  background-image: url("../public/cardview.svg");
}

#arrow-right{
  background-image: url("../public/arrowRight.png");
}

#arrow-down{
  background-image: url("../public/arrowDown.png");
}

.view-tooltip {

  visibility: hidden;

  position: absolute;
  z-index: 1; /* Stack above other elements */
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  font-size: 15px; 
  opacity: 0;
  transition: opacity 0.3s ease;

  top: 80%;
}

.view:hover .view-tooltip {
  visibility: visible;
  opacity: 0.8;
}

.compact-container {
  width: 55%;
  margin: 5px 10px;
  padding: 20px;
}